@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


/* Estilos para a landpage */
.about-content{
  paddding-right: 100px
}

.project-content-pl {
  padding-left: 100px
}

.project-content-pr {
  padding-right: 100px
}

@media (max-width: 992px) {
  .project-content-pl {
    padding-left: 0px;
  }
  .project-content-pr {
    padding-right: 0px;
  }
}

.featurette-divider {
  margin: 5rem 0;
}

/* Error messages for newsletter form */
.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

.is-invalid {
  border-color: #dc3545 !important;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

.featurette-heading {
  letter-spacing: -0.05rem;
}

.fw-normal {
  font-weight: 400 !important;
}

.h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

h2 {
  display: block;
  font-size: 2rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.text-body-secondary {
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color) !important;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.conteiner-map {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

iframe {
  width: 80%;
  height: 500px;
  border: none;
}
