PORT=3000
MERCADO_PAGO_ACCESS_TOKEN=APP_USR_SEU_ACCESS_TOKEN_DO_MERCADO_PAGO
PUBLIC_BASE_URL=https://seu-projeto.vercel.app
FIREBASE_PROJECT_ID=ibnov-fabbd

# Use este caminho apenas no ambiente local.
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json

# Use esta variavel no Vercel em vez do arquivo serviceAccountKey.json.
# FIREBASE_SERVICE_ACCOUNT_BASE64=COLE_AQUI_O_SERVICE_ACCOUNT_EM_BASE64
